* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: black;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}


.modo-dia {
    background-color: #fff;
    color: #000 !important;
}

.modo-dia-navbar {
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: -1px 6px 6px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 6px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 6px 6px 0px rgba(0,0,0,0.75);
}

.texto-colorsito {
    color: #000 !important;
}

.blanco-texto {
    color: #fff;
}

.navegacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #1F1F1F;
    height: 70px;

   
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 45px;
}

.logo h1 {
    font-size: 25px;
    color: rgba(216, 216, 27, 0.821);
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.principal a {
    text-decoration: none;
    color: #396EC1;
    text-transform: uppercase;
    font-size: 15px;

}

.claro button {
    border: none;
    background: none;
    cursor: pointer;

}

.claro i {
    font-size: 25px;
    color: rgba(216, 216, 27, 0.821);
    
} 


.main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 150px 0;
    flex-wrap: wrap;
}

.main button {
    border: none;
    background-color: #5195FF;
    padding: 10px;
    border-radius: 3px;
    width: 150px;
    color: #fff;
    margin: 20px 0;
    cursor: pointer;
}

 .texto__que-es {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
 .texto__que-es h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
  
}

 .texto__que-es p {
    font-size: 15.5px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.img img {
    width: 400px;
}

.mainTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.mainTwo h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    gap: 80px;
}

.desc {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.desc h2 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.desc p {
    font-size: 15px;
}

.img-recursos{
    display: flex;
    justify-self: center;
    align-items: center;
}

.img-recursos img {
    width: 300px;
}

.ventajas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #1F1F1F;
}

.ventaja {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 0 30px;
    gap: 30px;
}

.ventaja h2 {
    font-size: 25px;
}

.ventaja p {
    width: 50%;
    font-size: 15px;
    text-align: center;
}

.ventaja img {
    width: 130px;
}



.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    gap: 100px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright span  {
    font-weight: bold;
    text-transform: uppercase;
}

.contactanos i {
    font-size: 40px;
    cursor: pointer;
}

.contactanos i:hover {
    color: rgba(216, 216, 27, 0.821);
}




.modo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #1F1F1F;
}




  .app {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.botones-nota {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.texto-nota {
    display: flex;
    justify-content: start;
    align-items: center;
}

#note-list {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.note {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   width: 300px;
   height: 150px;
   padding: 10px;
   background-color: #1F1F1F;
   border-radius: 3px;
   margin: 20px;
}

.note button {
    border: none;
    border-radius: 3px;
    background: rgba(232, 232, 7, 0.894);
    padding: 4px;
    width: 80px;
    color: #000;
}



.create-note-button {
    position: fixed;
    bottom: 50px;
    right: 15px;
    background-color: blue;
    color: white;
    padding: 15px 22px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#popup {
    position: fixed;
    animation: zoomIn 0.5s ease-in-out;
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 90%;
    background-color: #1F1F1F;
    border-radius: 10px;
    transform-origin: center center;
}


.botones-de-nota {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 40px;
    border-bottom: 1px solid yellow;
}

.botones-de-nota button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 0;
}


.textarea-Nota {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 47px;
    padding: 20px 20px;
}

.textarea-Nota textarea {
    width: 600px;
    height: 650px;
    border-radius: 3px;
    background: transparent;
    color: #fff;
    outline: none;
    border: none;
    resize: none;
    padding: 20px 20px;
}

.textarea-Nota input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
}


@keyframes zoomIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Keyframes de salida */

@keyframes zoomOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* Estilo para la paleta de colores */

.color-picker {
    position: absolute;
    top: 50px; 
    left: 10px; 
    display: none;
}

@media(max-width: 634px) {

    

        #popup {
            width: 100%;
            height: 100%;
        }

        .textarea-Nota textarea {
            text-align: center;
        }
}



@media(max-width: 1016px) {
    .logo h1 {
        font-size: 15px;
    }

    .principal {
        display: none;
    }

    .main {
        gap: 30px;
        text-align: center;
    }

    .texto__que-es {
        width: 100%;
    }

    .texto__que-es p {
        font-size: 13px;
    }

    .img img {
        width: 250px;
    }

    .centrar {
        flex-direction: column;
    }

    .desc {
        width: 100%;
        padding: 10px;
        order: 1;
    }

    .desc p {
        font-size: 13px;
    }

    .desc h2 {
        font-size: 20px;
    }

    .img-recursos img {
        width: 200px;
    }

    .ventajas {
        height: auto;
        flex-direction: column;
        gap: 40px;
        margin: 40px 0;
    }

    .ventaja {
        width: 100%;
        padding: 20px;
    }

    .ventaja p {
        width: 100%;
    }

    .ventaja h2 {
        font-size: 20px;
    }

    .ventaja img {
        width: 90px;
    }

    .footer {
        flex-direction: column;
        width: 100%;
        padding: 10px;
        gap: 30px;
        
    }

   

}


/* Estilo del menú */
.font-size-menu {
    position: relative;
    display: inline-block;
  }
  
  #font-size-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #font-size-options {
    width: 100%;
    top: 50px;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  #font-size-options li {
    margin: 0;
    padding: 0;
  }
  
  #font-size-options a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    background-color: rgba(255, 255, 0, 0.805);
  }
  
  #font-size-options a:hover {
    background-color: #eee;
  }
  